# Standard
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.bzr/
.bzrignore
.classpath
.directory
.DocumentRevisions-V100
.DS_Store
.env
.fseventsd
.fuse_hidden*
.hg/
.hgignore
.idea
.LSOverride
.netrwhist
.project
.Spotlight-V100
.svn/
.TemporaryItems
.terraform
.Trash-*<Paste>
.Trashes
.venv
.VolumeIcon.icns
[._]*.sw[a-z]
[._]sw[a-z]
[568vq].out
*.[568vq]
*.a
*.app
*.bak
*.bz
*.cgo1.go
*.cgo2.c
*.class
*.deb
*.dll
*.dSYM/
*.dylib
*.ear
*.elf
*.exe
*.gch
*.gen.c
*.gz
*.hex
*.i*86
*.jar
*.ko
*.la
*.lai
*.lib
*.lo
*.log
*.mod
*.o
*.obj
*.old
*.out
*.pch
*.pic.d
*.pie.d
*.prof
*.retry
*.rpm
*.slo
*.so*
*.tar*
*.test
*.tgz
*.tmp*
*.war
*.x86_64
*.xz
*.zip
**/log?
**/node_modules
**/target
*~
Network Trash Folder
Session.vim
tags
Temporary Items
